.WeatherInfo {
    padding-left: 15px;
    opacity: 0.8;
}
.WeatherInfo h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}
.WeatherInfo strong {
    font-size: 80px;
}
.WeatherInfo p.climate {
    font-size: 20px;
    color: #D43790;
    margin-top: -55px;
    margin-left: -65px;
}
.WeatherInfo p.condition {
    word-spacing: 5px;
    margin-top: -15px;
    
}
.WeatherInfo span.degree{
    color: #D43790;
}
.WeatherInfo span.units {
    position: absolute;
    margin-top: 30px;
    font-size: 20px;
}

